**IMPORTING THE LIBRARIES**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
imort matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"]=(10,6)

In [27]:
from google.colab import files
upload = files.upload()

Saving bank.csv to bank (1).csv

In [31]:
import io
dataset = pd.read_csv(io.BytesIO(upload['bank.csv']))

In [33]:
dataset.head(5)

   ID  Age  Experience  ...  CD Account  Online  CreditCard
0  10   34           9  ...           0       0           0
1  17   38          14  ...           0       0           0
2  19   46          21  ...           0       0           0
3  30   38          13  ...           1       1           1
4  39   42          18  ...           1       1           0

[5 rows x 14 columns]

In [34]:
dataset.tail(5)

       ID  Age  Experience  ...  CD Account  Online  CreditCard
475  4884   38          13  ...           1       1           1
476  4928   43          19  ...           1       1           1
477  4942   28           4  ...           0       1           0
478  4963   46          20  ...           1       1           1
479  4981   29           5  ...           1       1           1

[5 rows x 14 columns]

In [35]:
dataset.describe()

                ID         Age  Experience  ...  CD Account     Online  CreditCard
count   480.000000  480.000000  480.000000  ...  480.000000  480.00000  480.000000
mean   2390.650000   45.066667   19.843750  ...    0.291667    0.60625    0.297917
std    1394.393674   11.590964   11.582443  ...    0.455004    0.48909    0.457820
min      10.000000   26.000000    0.000000  ...    0.000000    0.00000    0.000000
25%    1166.500000   35.000000    9.000000  ...    0.000000    0.00000    0.000000
50%    2342.000000   45.000000   20.000000  ...    0.000000    1.00000    0.000000
75%    3566.000000   55.000000   30.000000  ...    1.000000    1.00000    1.000000
max    4981.000000   65.000000   41.000000  ...    1.000000    1.00000    1.000000

[8 rows x 14 columns]

checking the types of data and summary stats

In [36]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  480 non-null    int64
 1   Age                 480 non-null    int64
 2   Experience          480 non-null    int64
 3   Income              480 non-null    int64
 4   ZIP Code            480 non-null    int64
 5   Family              480 non-null    int64
 6   CCAvg               480 non-null    float64
 7   Education           480 non-null    int64
 8   Mortgage            480 non-null    int64
 9   Personal Loan       480 non-null    int64
 10  Securities Account  480 non-null    int64
 11  CD Account          480 non-null    int64
 12  Online              480 non-null    int64
 13  CreditCard          480 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 52.6 KB

In [37]:
dataset.describe()

                ID         Age  Experience  ...  CD Account     Online  CreditCard
count   480.000000  480.000000  480.000000  ...  480.000000  480.00000  480.000000
mean   2390.650000   45.066667   19.843750  ...    0.291667    0.60625    0.297917
std    1394.393674   11.590964   11.582443  ...    0.455004    0.48909    0.457820
min      10.000000   26.000000    0.000000  ...    0.000000    0.00000    0.000000
25%    1166.500000   35.000000    9.000000  ...    0.000000    0.00000    0.000000
50%    2342.000000   45.000000   20.000000  ...    0.000000    1.00000    0.000000
75%    3566.000000   55.000000   30.000000  ...    1.000000    1.00000    1.000000
max    4981.000000   65.000000   41.000000  ...    1.000000    1.00000    1.000000

[8 rows x 14 columns]